<!-- Original header image using ERB -->
<!-- <%= image_tag("homeHeroOne.jpg", class: "img-fluid") %> -->

<!-- Start Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container text-xs-center">
    <h1 class="display-3">Headline</h1>
    <p class="lead">Some text</p>
    <p class="lead">
      <%= link_to "Shop Now", products_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div> <!-- /jumbotron -->
