<table>
  <tbody>
    <tr>
      <p>
        Thank you for your order.
      </p>
    </tr>
    <tr>
      <p><%= @name %>,</p>
    </tr>
    <tr>
      <p><%= @product.name %></p><br>
    </tr>
    <tr>
      <p>Price: <b>$<%= @product.price %></b></p><br>
    </tr>
  </tbody>
</table>
