// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  background-image: asset-url("homeHeroOne.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  color: #fff;
  text-shadow: 2px 2px #000;
}

.display-3 {
  margin-top: 150px;
}

/* Carousel */

.carousel-caption {
    top: 0;
    bottom: auto;
    color: #000;
    font-size: 2em;
    text-shadow: none;
}

.carousel-inner .carousel-item {
  height: 100vh;
}

.carousel-indicators li {
    border: 1px solid #000;
}

.carousel-indicators {
    bottom: 10px;
}

.carousel-control .icon-next,
.carousel-control .icon-prev {
    font-size: 90px;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

// Sticky Footer
.content {
  min-height: calc(100vh - 148px);
  // viewport height minus height of footer
}

.small-footer {
  border-top: 1px solid #d8d8d8;
  padding-top: 30px;
  padding-bottom: 10px;
}

.big-footer {
  margin-top: 20px;
  border-top: 1px solid #d8d8d8;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-col {
  border-right: 1px solid #d8d8d8;
  height: 68px;
}
