<p id="notice"><%= notice %></p>

<h1 class="text-xs-center">All Products</h1>

<div class="container-fluid">
  <div class="row">
    <%= render @products %>
  </div> <!-- /row -->
<br>
  <div class="row text-xs-center">
    <%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>
  </div>
</div> <!--/container -->
