<h1 class="text-xs-center top-margin-20">All Products</h1>

<div class="container-fluid">
  <div class="row">
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
  </div> <!-- /row -->
<br>
  <div class="row text-xs-center">
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div> <!--/container -->
