<!DOCTYPE html>
<html>
<head>
  <title>Fuji Fanatics</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
  integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <script src="https://use.fontawesome.com/dd85124ea4.js"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
  integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>

<!-- Begin Nav -->
<nav class="navbar navbar-full navbar-dark bg-inverse">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <a class="navbar-brand" href="#">Fuji Fanatics</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div> <!-- /collapse -->
  <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-primary-outline" type="submit">Search</button>
  </form>
</nav> <!-- /nav -->

<div class="content">
  <!-- Begin individual page content -->
  <%= yield %>
  <!-- /individual page content -->
</div> <!-- /content -->

<!-- Begin Footer Area -->
<footer class="container-fluid">
  <div class="container-fluid">
    <div class="row big-footer">
      <div class="col-md-4 col-xs-12 text-xs-center footer-col">
        <h5 class="text-muted">NAVIGATION</h5>
        <nav class="nav nav-inline">
          <a class="nav-link" href="#">Our Story</a>
          <a class="nav-link" href="#">T&Cs</a>
          <a class="nav-link" href="#">Delivery</a>
        </nav>
      </div>
      <div class="col-md-4 col-xs-12 text-xs-center footer-col">
        <h5 class="text-muted">JOIN OUR MAILING LIST</h5>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Enter Your Email Address</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Your Email Address">
          </div>
          <button type="submit" class="btn btn-primary">Join</button>
        </form>
      </div>
      <div class="col-md-4 col-xs-12 text-xs-center">
        <h5 class="text-muted">CONNECT WITH US</h5>
        <nav class="nav nav-inline">
          <a class="nav-link fa fa-facebook-official fa-2x" href="#"></a>
          <a class="nav-link fa fa-instagram fa-2x" href="#"></a>
          <a class="nav-link fa fa-twitter-square fa-2x" href="#"></a>
        </nav>
      </div>
    </div>
    <div class="row small-footer">
      <div class="col-md-12 text-xs-center text-muted">
      <p>Copyright &copy; 2016 Fuji Fanatics</p>
      </div>
    </div>
  </div>
</footer> <!-- /footer area -->

</body>
</html>
